@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&family=Special+Elite&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   --light-text: white;
   --light-text-2: #e04242;
   --light-gray:lightgray;

   /* white */
   --white:#ffffff;
   --white-1:#f5f5f5;
   --white-2:#ebebeb;
   --white-3:#e0e0e0;
   --white-4:#d6d6d6;
   --white-5:#cccccc;

   --black:black;
 
   --bg-color-1:#0b520b;
   --bg-color-2:#333333e6;
   --bg-color-3:#becf21;
   --bg-color-4:#0b213b80;
   --bg-color-5:#0b520b;
 
    --color-1:#7290be;
    --color-2:#cecece;
    --color-3:#f5f5f5;
    --color-4:#333;
 
   --font-1: 'Caveat', cursive;
   --font-2:'Roboto', sans-serif;
   --font-3:'Special Elite', cursive;
 
   --ancient-1:#e9d8a6;
   --ancient-2:#ee9b00;
   --ancient-3:#94d2bd;
   --ancient-4:#0a9396;
   --ancient-4:#005f73;

   /* bluish */
   --neutral-0:#48cae4;
   --neutral-1:#00b4d8;
   --neutral-2:#0096c7;
   --neutral-3:#0077b6;
   --neutral-4:#023e8a;
   --neutral-5:#03045e;

    /* burlywood */
    --br-1:#ede0d4;
    --br-2:#e6ccb2;
    --br-3:#ddb892;
    --br-4:#b08968;
    --br-5:#7f5539;
    --br-6:#9c6644;

    /* red */
    --rd-1:#e85d08;
    --rd-2:#dc2f02;
    --rd-3:#d00000;
    --rd-4:#9d0208;
    --rd-5:#6a040f;
    --rd-6:#370617;

    /* green */
    --gr-1:#004b23;
    --gr-2:#006400;
    --gr-3:#007200;
    --gr-4:#008000;
    --gr-5:#38b000;
    --gr-6:#70e000;

    /* melon */
    --ml-1:#e8a598;
    --ml-2:#ffb5a7;
    --ml-3:#fec5bb;
    --ml-4:#fcd5ce;
    --ml-5:#fae1dd;
    --ml-6:#f8edeb;

    /* yellow */
    --yellow-1:#ffea00;
    --yellow-2:#ffdd00;
    --yellow-3:#ffd000;
    --yellow-4:#ffc300;
    --yellow-5:#ffb700;
    --yellow-6:#ffaa00;

}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var( --neutral-0);
  z-index: -1;
 
}

/* ######  Main ##### */
main{
    display:grid;
    align-items: center;
    justify-content: center;
}

main{
    min-height: 80vh;
}

/* ######  menu list button ###### */
.menu{
    background-color: var( --neutral-3);
    color:var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-4);
    margin: 30px auto;
    font-size: 10px;
    text-align: center;
  
    
}

.menu button{
    text-transform: capitalize;
    text-align: center;
    width: 100%; 
    background-color: var( --neutral-3);
    color: #004b23;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-4);
    padding: 1rem;
    display: flex;
    text-decoration: none; 
    cursor: pointer;
    font-size: 20px;
}

.menu a{
    text-decoration: none;
}

.menu button:hover{
    background-color:  var(--ancient-3);
}

.menu:hover{
    background-color: var(--ancient-3);
 }

h1{
  font-size: 3rem;
  color: #004b23;
}

h2{
  font-size: 2rem;
  text-align: center;
  color: #004b23;
}
p{
  font-size: 1.5rem;
}

/* ####### Header ###### */
header{
  padding: 30px;
  text-align: center;
  background-color: var( --neutral-3);
  color: var(--black);
  width: 100%;
  font-size: 60px;
  text-transform: uppercase;
  font-family: var(--font-2);
}





/* ####### Footer ###### */
footer{
  text-align: center;
  background-color: var( --neutral-3);
  padding: 0.5rem;
  bottom:0;
  width:100%;
 
 
}

footer p{ 
  font-family: var(--font-2);
  font-size: 1rem;
  padding: 10px;
 
}

.footerWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p{ 
  font-family: var(--font-2);
  font-size: 1.5rem;
  padding: 20px;
  color: #004b23;
}

footer .icons i {
  margin: 20px ;
  font-size: 30px;
  color: #004b23;
}

footer .icons i:hover{
  color: var(--ancient-3);
  transition: 1s;
}


/* ####### all remaining button ###### */
.btn{
    background-color: var( --neutral-2);
    color: #004b23;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-4);
    padding: 1rem;
    width: 25%;
    margin: 20px;
    font-size: 20px;
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.mbtn{
text-align: center;
justify-content: center;
align-items: center;
}

.btn:hover{
    background-color: var(--ancient-3);
}


/* ######  input and label section  ###### */
input[readonly]{
    background-color: #a1b4b9;
    border: none;
}
input
 {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  width:400px;
  border: 3px solid var( --neutral-2);
  margin-top: 20px;
  font-family: var(--font-2);
  background-color:var( --neutral-1);
  display: flex;
}
label {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
  text-align: left;
  margin: 10px;
  
}


/* ######  table for all the moped storage  ##### */
table{
    border-collapse: collapse;
    margin-bottom: 1em;
    box-shadow: 0 0 5px var(--color-4);
    text-align: center;
}

table,th,td{
    border: 1px solid var(--black);
    padding: 0.5em;
}
thead{
background-color: var( --neutral-2);
}

tr:nth-child(2n){
    background-color: var( --neutral-1);
}

/* ###### Get one moped from store and result  ###### */
.singleResult{
    margin: 10px;
    box-shadow: 0 1px 5px 7px var(--light-gray), 0px 0px 10px 0px ;
    width: 500px;
    border-radius: 5px;
    padding-top: 0;
    padding:10px ;
}

span{
    font-weight:bolder;
    margin-left: 20px;
    font-family: var(--font-3);
    margin: 20px;
}

/* ######  error and status pages ###### */
.info{
    border: 2px dotted var(--gr-1);
    padding: 1em;
    font-size: 20px;
}

.err{
    border: 2px dashed  var(--gr-1);
    padding: .5em;
    font-size: 20px;
}
.error{
    border: 2px dashed  var(--gr-1);
    padding: .5em;
    font-size: 20px;
}

h1.error{
   color: var(--rd-5);
}

/* ######  inputForm for new moped ###### */
.addform{
    margin: 20px;
    box-shadow: 0 1px 5px 7px var(--light-gray), 0 6px 10px 0 ;
    width: 700px;
    border-radius: 5px;
    margin-left: 20px;
    padding:20px ;
}
footer a{
    text-decoration: none;
}

.submitmenu{
    display: flex;
}

.submitmenu .btn{
    width: 150px;
}